@import 'bootstrap';
@import 'bootstrap/theme';

body {
  background-image: url('/assets/images/sunsetPh.jpg');
  background-size: cover;
}

.nav > li > a {
  color: $purple;
}

.navbar-brand {
  color: $purple;
}

h1 {
  color: $purple;
  font-family: serif;
  font-size: 50px;
  text-align: center;
}

h2,
h3 {
  color: $purple;
  font-family: serif;
  font-size: 28px;
  text-align: center;
}

h4 {
  color: $purple;
  text-align: center;
  text-shadow: 1px 1px $white;
}

p {
  color: $purple;
  font-family: monospace;
  text-align: center;
  text-shadow: 1px 1px $white;
}

h6 {
  color: $purple;
  text-align: center;
  text-shadow: 1px 1px $white;
}

.star-rating {
  color: $white;
}
