@import 'bootstrap';
@import 'bootstrap/theme';

body {
  background-image: url('/assets/images/sunsetPh.jpg');
  background-size: cover;
}

.nav > li > a {
  color: $purple;
}

.navbar-brand {
  color: $purple;
}

h1 {
  color: $purple;
  font-family: serif;
  font-size: 50px;
  text-align: center;
}

h2,
h3 {
  color: $purple;
  font-family: serif;
  font-size: 28px;
  text-align: center;
}

p {
  font-family: monospace;
  text-align: center;
  color: white;
}

h6 {
  text-align: center;
}

.links {
  justify-content: center;
  margin-top: 150px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: auto;
}
