

<h6>Greetings</h6>
<div class="greeting">
<p>This site is desined for Photographers who want to show their work to others and/or help photographers get better! Sign up and then rate photos. Post your own photos and see the ratings you receive!
</p>
</div>
