<hr>

<p>All of your art!</p>

<hr>

{{#link-to "createphoto"}}Post a Photo{{/link-to}}

<hr>


{{#each model as |photo|}}
  {{#if photo.editable}}
      {{your-photo photo=photo deletePhoto='deletePhoto'}}
  {{/if}}
{{/each}}
