<div class='cphotos'>
<img src='{{photo.url}}' height=150px width=200>
<p>{{photo.name}}</p>
</div>
<div class='star-rating'>
{{star-rating item=photo rating=photo.rating on-click="updateRating"}}
</div>
